<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="cad-container">
        <header class="cad-header">
            <!-- <div class="cad-logo"><img src="/imgs/Imagem do WhatsApp de 2025-04-08 à(s) 09.20.34_edf575da.jpg" alt=""></div> -->
            <div class="cad-texto">
                <h1>Cadastre-se</h1>
                <a href="index.html">Voltar</a>
            </div>
        </header>
        <main class="cad-main">
            <form action="cad-form" class="cad-form">
                <div class="cad-elm">
                    <label for="name">Primeiro nome</label>
                    <input type="text">
                </div>
                <div class="cad-elm">
                    <label for="name">Sobrenome</label>
                    <input type="text">
                </div>
                <div class="cad-elm">
                    <label for="email">E-mail</label>
                    <input type="email">
                </div>
                <div class="cad-elm">
                    <label for="cpf">CPF</label>
                    <input type="text">
                </div>
                <div class="cad-elm">
                    <label for="password">Senha</label>
                    <input type="password">
                </div>
                <div class="cad-elm">
                    <label for="password">Confirmar Senha</label>
                    <input type="text">
                </div>
                <div class="cad-elm">
                    <button>
                        Continuar
                    </button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>