<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="cad-log-container">
        <header class="log-header">
            <!-- <div class="cad-logo"><img src="/imgs/Imagem do WhatsApp de 2025-04-08 à(s) 09.20.34_edf575da.jpg" alt=""></div> -->
            <div class="cad-texto">
                <h1>Logar</h1>
                <a href="index.html">Voltar</a>
            </div>
        </header>
        <main class="log-main">
            <form action="log-form" class="log-form">
                <div class="log-elm">
                    <label for="email">E-mail</label>
                    <input type="email">
                </div>
                <div class="log-elm">
                    <label for="password">Senha</label>
                    <input type="password">
                </div>
                <div class="log-elm">
                    <button>
                        Entrar
                    </button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>